.outer-margin-50 {
    margin: 50px;
}

th {
    font-size: 16px;
}

table {
    width: 100%;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.table-padding {
    padding: 25px;
}

.mat-column-lots_available {
    padding-left: 40px;
}

.filter {
    display: block;
    width: 60%;
}

.header {
    /* width: 100%; */
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #77002e;
    padding: 0 10%;
    font-weight: bold;
  }
  
  .logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }